<div class="dashboard box">
	<h3 class="center">Welcome to the User Dashboard, <%= current_user.email %></h3>
	
	<div class="dash-buttons">
		<% if current_user.role == "admin" %>
    <%= link_to 'New Birthday', new_birthday_path, class: 'btn-lg btn-info' %>
    <%= link_to 'Add an Admin', users_path, class: 'btn-lg btn-success' %>
    <% else %>
    <%= link_to 'Request Admin Priveleges', users_path, class: 'btn-lg btn-info' %>  
    <% end %>
		<%= link_to 'Birthdays', birthdays_path, class: 'btn-lg btn-warning' %>
		<%= link_to 'Log Out', destroy_user_session_path, method: 'delete', class: 'btn-lg btn-danger' %>
	</div>
</div>