<div class="birthday-box">
	<h1>Create a New Birthday!</h1>
	
	<%= form_tag('/birthdays', method: 'post') do %>
		<div class="form-group">
			<%= label_tag :name %><br>
			<%= text_field_tag :name, nil, class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= label_tag :day %><br>
			<%= date_field_tag :day, nil, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= label_tag "Wishers (comma-separated email list)" %><br>
			<%= text_area_tag :recipients, nil, class: 'form-control' %>
		</div>
		<%= submit_tag 'Create!', class: 'btn btn-primary' %>
	<% end %>
</div>
